.nav-item {
    display: inline-block;
    font-size: 11px;
    color: #343638;
    padding-bottom: 19px;
    font-weight: bold;
    font-family: 'Roboto';
}


.home  {
margin-right: 27px;
margin-top: 22px;
}
.blur {
    
    opacity: 50%;
    margin-right:22px;
    margin-top: 22px;
    
}
.pic {
    margin-left: 18px;
    margin-top: 11px;
}
#logo a {
    font-size: 13px;
    color: #FA6980 ; 
    margin-right: 92px;
    margin-top:18px;
    margin-left: 20px;
}
header {
    position: fixed;
    background-color: #F6F8F9;
    width: 100%; 
    z-index: 10;
    
}
/* section */

.trending-grand {
    padding-top: 74px;
    display: block;
    margin: 0 auto 58px; 
    width: 1160px;
    height: 410px;
    
}



.trending-grand h2 { 
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 40px;
    
}
.trending-parent {
    display: inline-block;
    width: 360px;
    height: 180px;
}
.middle {
    margin-right: 35px;
    margin-left: 35px;
}
.trending-image img , .trending-text {
    width: 360px;
    height: 180px;
    
}
.trending-image h3 {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    
    position: absolute;
    top: 28px; bottom: 136px; right: 40px; left: 40px;


}

.trending-image {
    position: relative;
}
.trending-text p {
    color: #A6ADB4;
    font-size: 13px;
   
    padding : 76px 40px 10px 40px;
}

.trending-text img {
    padding: 0 10px 40px 40px;
    vertical-align: top;
}
.trending-text span {
    color: #A6ADB4;
    font-size: 13px;
    padding: 0 251px 40px 0;
    vertical-align:top;
}
/*Happening Now Section*/

.happening-grand {
    width: 1160px;
    height: 896px;
    margin: 0 auto;
}
.happening-now-heading {
    font-size: 24px;
    font-weight: bold;
    color: #202124;
    margin-bottom:40px;
}
.hap-parent-left {
    width: 760px;
    height: 900px;
    
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}
.hap-parent-right {
    width: 380px;
    height: 900px;
    display: inline-block;
    vertical-align: middle;
}

.hap-image-left {
    width: 760px;
    height: 430px;

}
.hap-image-right {
    width: 360px;
    height: 210px;
    
    
}
.bridge-pic { 
    margin-bottom: 40px;
    position: relative;
}
.parrot {
    margin-top: 102px;
    margin-bottom: 102px;
}
.bridge-heading {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 194px; left: 172px; bottom: 220px; left: 308px;
}

